.mt-20{
    margin-top: 20px;
}

.mb-20{
    margin-bottom: 20px;
}

.mt-32{
    margin-top: 32px;
}

.mt-124{
    margin-top: 124px;
}

.mb-64{
    margin-bottom: 64px;
}

.mb-124{
    margin-bottom: 124px;
}

.mt-40{
    margin-top: 40px;
}

.ml-auto{
    margin-left: auto;
    
}